
.footer{
    background-color: #343A40;
    h5{
        font-size: 1.5rem;
    color: #F2F2F2;
    padding-bottom: 1rem;
    }
}
.reach li {
    padding-bottom: 1rem;
    color: #939597;
    margin-right: 0.75rem;
    font-size: 1.1rem;
    i {
        color: #F2F2F2;
    }
    a{
        color: #939597;
    }
}
.secondary-footer{
    text-align: center;
    padding-bottom: 3rem;
    background-color: #343A40;
    color: #939597;
     span {
        color: #DFE0E1;
    }
     p {
        padding-bottom: 0.35rem;
    }
}